# Android Studio 預設
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# === 重要：避免洩漏 keystore ===
*.jks
*.keystore

# === 避免上傳編譯輸出檔 ===
*.apk
*.ap_
*.aab

# === 避免上傳 Log 檔 ===
*.log

# === 作業系統產生的垃圾檔 ===
Thumbs.db

# === NDK / C++ 相關暫存 ===
obj/
